Repository krazyito65/python-wa-discord-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-bot, test-web

test-bot:
  name: Discord Bot Tests
  entry: bin/test-bot
  language: system
  pass_filenames: false
  stages:
  - pre-commit

test-web:
  name: Django Web Tests
  entry: bin/test-web
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Improve Discord bot test coverage from 13% to 16%
  discord-bot/tests/test_bot.py
  discord-bot/tests/test_django_permissions.py
  discord-bot/tests/test_macro_functionality.py
Due: test-bot

Major Discord bot test coverage improvements: 16% → 53%
  discord-bot/.coveragerc
  discord-bot/coverage.xml
  discord-bot/tests/test_django_permissions.py
  discord-bot/tests/test_utils_logging.py
Due: test-bot

Add comprehensive testing strategy documentation
  discord-bot/.coveragerc
  discord-bot/TESTING_STRATEGY.md
Due: none

Implement strategic test exclusions and fix coverage validation
  bin/test-coverage
  web/.coveragerc
  web/admin_panel/tests.py
  web/shared/test_utils.py
  web/shared/tests.py
  web/user_stats/tests.py
Due: test-web

Add comprehensive view tests and fix social account handling
  CLAUDE.md
  web/admin_panel/test_views.py
  web/admin_panel/views.py
  web/macros/test_views.py
  web/macros/views.py
  web/servers/tests.py
  web/user_stats/test_views.py
Due: test-web

Remove coverage.xml from tracking and improve .gitignore
  .gitignore
  discord-bot/coverage.xml
Due: none

Improve code quality by fixing major ruff linting issues
  discord-bot/commands/macro_commands.py
  discord-bot/tests/test_bot.py
  discord-bot/tests/test_django_permissions.py
  discord-bot/tests/test_macro_functionality.py
  discord-bot/tests/test_utils_logging.py
  web/admin_panel/admin.py
  web/admin_panel/models.py
  web/admin_panel/test_views.py
  web/admin_panel/tests.py
  web/admin_panel/urls.py
  web/admin_panel/views.py
  web/macros/test_views.py
  web/macros/views.py
  web/servers/tests.py
  web/servers/views.py
  web/shared/test_utils.py
  web/user_stats/test_views.py
  web/user_stats/tests.py
  web/user_stats/views.py
Due: test-bot, test-web

Further improve code quality with systematic ruff error fixes
  discord-bot/commands/macro_commands.py
  discord-bot/tests/test_bot.py
  discord-bot/tests/test_django_permissions.py
  discord-bot/tests/test_macro_functionality.py
  discord-bot/tests/test_utils_logging.py
  discord-bot/utils/django_permissions.py
  web/admin_panel/admin.py
  web/admin_panel/apps.py
  web/admin_panel/migrations/0001_initial.py
  web/admin_panel/models.py
  web/admin_panel/test_views.py
  web/admin_panel/tests.py
  web/admin_panel/urls.py
  web/admin_panel/views.py
  web/macros/test_views.py
  web/macros/tests.py
  web/macros/views.py
  web/servers/tests.py
  web/servers/views.py
  web/shared/discord_api.py
  web/shared/test_utils.py
  web/shared/tests.py
  web/user_stats/test_views.py
  web/user_stats/tests.py
Due: test-bot, test-web

Achieve major code quality improvements with comprehensive ruff fixes
  ruff.toml
  web/admin_panel/models.py
  web/admin_panel/tests.py
  web/admin_panel/views.py
  web/macros/test_views.py
  web/macros/tests.py
  web/macros/views.py
  web/servers/tests.py
  web/servers/views.py
  web/shared/discord_api.py
  web/shared/tests.py
  web/user_stats/test_views.py
Due: test-web

Fix file formatting issues found by pre-commit hooks
  CLAUDE.md
  bin/test-coverage
  discord-bot/.coveragerc
  discord-bot/TESTING_STRATEGY.md
  web/.coveragerc
  web/admin_panel/templates/admin_panel/audit_log.html
  web/admin_panel/templates/admin_panel/dashboard.html
  web/admin_panel/templates/admin_panel/permission_settings.html
  web/admin_panel/templates/admin_panel/role_settings.html
  web/templates/base.html
  web/templates/macros/macro_add.html
  web/templates/user_stats/guild_stats.html
  web/templates/user_stats/multi_user_stats.html
  web/templates/user_stats/user_detail.html
Due: none

Update GitHub Actions to use 25% coverage threshold
  .github/workflows/ci.yml
Due: none

Fix GitHub Actions security scan false positive
  .github/workflows/ci.yml
Due: none

Fix documentation build issues in GitHub Actions
  docs/_static/.gitkeep
  docs/index.rst
Due: none

Improve admin panel role selection and rename ping command
  discord-bot/TESTING_STRATEGY.md
  discord-bot/commands/ping_commands.py
  docs/getting_started.rst
  docs/index.rst
  web/admin_panel/templates/admin_panel/role_settings.html
  web/admin_panel/views.py
  web/shared/discord_api.py
  web/templates/base.html
Due: test-bot, test-web

Add comprehensive embed macro system with Discord and web interfaces
  discord-bot/commands/macro_commands.py
  discord-bot/modals/__init__.py
  discord-bot/modals/embed_builder.py
  discord-bot/tests/test_bot.py
  discord-bot/tests/test_embed_macros.py
  discord-bot/views/__init__.py
  discord-bot/views/embed_builder.py
  web/macros/urls.py
  web/macros/views.py
  web/servers/views.py
  web/shared/bot_interface.py
  web/templates/macros/embed_macro_add.html
  web/templates/servers/server_detail.html
Due: test-bot, test-web

Implement comprehensive directory migration and consolidation system
  discord-bot/commands/macro_commands.py
  web/macros/urls.py
  web/macros/views.py
  web/shared/bot_interface.py
  web/shared/tests.py
  web/templates/macros/embed_macro_edit.html
Due: test-bot, test-web

Fix embed macro editing template to resolve 'undefined' content issues
  web/macros/views.py
  web/templates/macros/embed_macro_edit.html
Due: test-web

Fix embed macro content display showing 'undefined' in modal views
  web/servers/views.py
  web/templates/servers/server_detail.html
Due: test-web

Fix embed macro edit functionality to redirect to proper embed edit page
  web/templates/servers/server_detail.html
Due: none

Fix VariableDoesNotExist errors in embed macro edit template
  web/templates/macros/embed_macro_edit.html
Due: none

Implement rich Discord-style embed preview for View button
  web/servers/views.py
  web/templates/servers/server_detail.html
Due: test-web

Implement type-specific autocomplete filtering for macro edit commands
  discord-bot/commands/macro_commands.py
Due: test-bot

Fix async/sync database access and role removal functionality
  discord-bot/commands/color_role_commands.py
  discord-bot/commands/help_commands.py
  discord-bot/main.py
  discord-bot/tests/test_color_role_commands.py
  discord-bot/tests/test_help_commands.py
Due: test-bot

Add Django assignable roles management system
  web/admin_panel/migrations/0002_assignablerole.py
  web/admin_panel/models.py
  web/admin_panel/templates/admin_panel/dashboard.html
  web/admin_panel/templates/admin_panel/manage_assignable_roles.html
  web/admin_panel/urls.py
  web/admin_panel/views.py
Due: test-web

Fix formatting and finalize assignable roles implementation
  web/admin_panel/templates/admin_panel/manage_assignable_roles.html
  web/admin_panel/views.py
Due: test-web

Add comprehensive Django events configuration system with Discord bot synchronization
  discord-bot/bot/weakauras_bot.py
  discord-bot/events/temperature_event.py
  web/admin_panel/migrations/0003_add_event_config.py
  web/admin_panel/models.py
  web/admin_panel/templates/admin_panel/dashboard.html
  web/admin_panel/templates/admin_panel/manage_events.html
  web/admin_panel/urls.py
  web/admin_panel/views.py
Due: test-bot, test-web

Add comprehensive production deployment and maintenance documentation
  PRODUCTION_DEPLOYMENT.md
  PRODUCTION_MAINTENANCE.md
  web/weakauras_web/production.py
Due: test-web

Add production management scripts for service restart and log viewing
  bin/prod-logs-all
  bin/prod-logs-bot
  bin/prod-logs-web
  bin/prod-restart-all
  bin/prod-restart-bot
  bin/prod-restart-web
  bin/prod-status
  web/weakauras_web/production.py
Due: test-web

Update log scripts to show exact log source locations
  bin/prod-logs-all
  bin/prod-logs-bot
  bin/prod-logs-web
Due: none

Add absolute filesystem paths to log source information
  bin/prod-logs-all
  bin/prod-logs-bot
  bin/prod-logs-web
Due: none

Make log paths dynamic using machine ID detection
  bin/prod-logs-all
  bin/prod-logs-bot
  bin/prod-logs-web
Due: none

Add text-based log access options for text editor compatibility
  bin/prod-logs-export
  bin/prod-logs-text
  bin/prod-status
Due: none

Remove non-working text-based log scripts and clean up log output
  bin/prod-logs-all
  bin/prod-logs-bot
  bin/prod-logs-export
  bin/prod-logs-text
  bin/prod-logs-web
  bin/prod-status
Due: none

Add log rotation monitoring and status checking
  bin/prod-logs-status
  bin/prod-status
Due: none

Update all production documentation with current log management setup
  PRODUCTION_DEPLOYMENT.md
  PRODUCTION_MAINTENANCE.md
  README.md
Due: none

Fix CI security check to exclude log management script
  .github/workflows/ci.yml
Due: none

Implement maintainable security exclusions system for CI
  .github/security-exclusions.txt
  .github/workflows/ci.yml
Due: none

Fix CI security check to apply exclusions to both pattern types
  .github/security-exclusions.txt
  .github/workflows/ci.yml
Due: none

Code quality improvements for assignable roles functionality
  debug_assignable_roles.py
  web/admin_panel/views.py
Due: test-web

Fix CSRF logout issue and implement debug mode framework
  web/weakauras_web/production.py
  web/weakauras_web/production_debug.py
Due: test-web

Path conditions:
  test-bot: any of: ^discord-bot/ and \.py$
  test-web: any of: ^web/ and \.py$
