Repository krazyito65/python-wa-discord-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-bot, test-web

.pre-commit-config.yaml:

# Pre-commit configuration for WeakAuras Discord Bot
# See https://pre-commit.com for more information

repos:
  # Ruff - Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      # Run the linter
      - id: ruff-check
        args: [--fix]
      # Run the formatter
      - id: ruff-format

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Prevent committing large files
      - id: check-added-large-files
        args: ['--maxkb=1000']
      # Check for merge conflicts
      - id: check-merge-conflict
      # Check YAML syntax
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      # Check TOML syntax
      - id: check-toml
      # Ensure files end with newline
      - id: end-of-file-fixer
      # Remove trailing whitespace
      - id: trailing-whitespace
      # Check for private keys
      - id: detect-private-key

  # Python-specific checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Check Python syntax
      - id: check-ast
      # Check for debugger imports
      - id: debug-statements
      # Validate Python docstrings
      - id: check-docstring-first

  # Test execution
  - repo: local
    hooks:
      # Run Discord bot tests
      - id: test-bot
        name: Discord Bot Tests
        entry: bin/test-bot
        language: system
        types: [python]
        files: ^discord-bot/
        pass_filenames: false
        stages: [pre-commit]

      # Run Django web tests
      - id: test-web
        name: Django Web Tests
        entry: bin/test-web
        language: system
        types: [python]
        files: ^web/
        pass_filenames: false
        stages: [pre-commit]

      # Code coverage validation (optional - can be slow)
      - id: test-coverage
        name: Code Coverage Validation (80% minimum)
        entry: bin/test-coverage
        language: system
        types: [python]
        pass_filenames: false
        stages: [manual]  # Only runs when explicitly requested
        # Run manually with: pre-commit run test-coverage
        # Or enable for all commits by changing stages to [pre-commit]

Add bot invite URL to ping command for easy access
  discord-bot/commands/ping_commands.py
Due: test-bot

Add bot invite URL to Discord role fetching error messages
  web/admin_panel/views.py
Due: test-web

Fix Discord OAuth redirect URI issues and implement OAuth sync management
  web/shared/management/__init__.py
  web/shared/management/commands/__init__.py
  web/shared/management/commands/setup_discord_oauth.py
  web/weakauras_web/production.py
Due: test-web

Add bot dashboard link to ping command and disable debug logging in production
  discord-bot/commands/ping_commands.py
  web/weakauras_web/production.py
Due: test-bot, test-web

Update bot invite URL with enhanced permissions and OAuth redirect
  discord-bot/commands/ping_commands.py
Due: test-bot

Fix assignable roles form submission with enhanced error handling and database consolidation
  debug_assignable_roles.py
  web/admin_panel/views.py
Due: test-web

Update bot invite URL with comprehensive permissions for full functionality
  discord-bot/commands/ping_commands.py
Due: test-bot

Fix Discord role fetching by prioritizing production bot token
  web/shared/discord_api.py
Due: test-web

Fix remove_role command registration by moving it to separate function
  discord-bot/commands/color_role_commands.py
Due: test-bot

Add pagination to list_macros command with 50 items per page
  discord-bot/commands/macro_commands.py
Due: test-bot
